.parentListItem {
	&:hover {
		.list {
			display: block;
		}
	}
}

.list {
	border-radius: 18px 0 18px 18px;
	@apply absolute left-[-10px] top-10 w-[177px] bg-white pl-2 py-2;
}

.listItem {
	@apply pr-4;

	&:hover {
		.subList {
			@apply opacity-100;
		}

		.link {
			@apply bg-primary_color text-white;
		}
	}
}

.link {
	@apply text-primary_color block rounded-lg px-4 py-1.5 font-bold text-sm w-full text-left;
}

.subList {
	@apply opacity-0 absolute top-0 left-[170px] w-[177px] bg-white pl-2 pr-4 py-2;
}

.subLink {
	@apply block rounded-lg px-4 py-1.5 text-primary_color text-sm w-full text-left;

	&:hover {
		@apply text-secondary_color;

		background: linear-gradient(
			134deg,
			#e4faf3 0%,
			rgba(228, 250, 243, 0.29) 34.5%,
			#e4faf3 67%,
			rgba(228, 250, 243, 0.34) 100%
		);
	}
}
