.container {
	display: block;
	position: relative;
	font-size: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container input {
	@apply absolute opacity-0 cursor-pointer h-0 w-0;
}

.checkmark {
	@apply block relative w-5 h-5 bg-primary_color rounded-[6px];
}

.container:hover input ~ .checkmark {
	// background-color: #ccc;
}

.container input:checked ~ .checkmark {
	@apply bg-primary_color;
}

.checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

.container input:checked ~ .checkmark:after {
	display: block;
}

.container .checkmark:after {
	@apply left-[50%] top-[50%] w-2.5 h-2.5;
	transform: translate(-50%, -50%);
	background-image: url('/icons/check.svg');
	background-repeat: no-repeat;
}

.text {
	@apply text-gray_color text-xs font-medium;
}
