@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Steppe';
	src: url('./fonts/Steppe-ExtraBold.woff2');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Steppe';
	src: url('./fonts/Steppe-Medium.woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Steppe';
	src: url('./fonts/Steppe-Regular.woff2');
	font-weight: 400;
	font-style: normal;
}

:root {
	/* fonts */
	--font-steppe: 'Steppe', sans-serif;

	/* shadcn */
	--radius: 0.5rem;
	--sidebar-background: 0 0% 98%;
	--sidebar-foreground: 240 5.3% 26.1%;
	--sidebar-primary: 240 5.9% 10%;
	--sidebar-primary-foreground: 0 0% 98%;
	--sidebar-accent: 240 4.8% 95.9%;
	--sidebar-accent-foreground: 240 5.9% 10%;
	--sidebar-border: 220 13% 91%;
	--sidebar-ring: 217.2 91.2% 59.8%;

	/* custom-colors */
	--primary-color: #1f3238;
	--primary-opacity-color: rgba(31, 50, 56, 0.1);
	--secondary-color: #4fca9c;
	--bg-color: #66d8ad;

	--gray-color: #afc5be;
	--gray-color-primary: #a3bdb5;
	--light-green: #ddf1ea;
	--light-green-border: #d1e7df;
}

html,
body {
	overflow-x: hidden;
	font-size: 16px;
}

body {
	font-weight: 400;
	color: var(--primary-color);
}

@layer utilities {
	.text-shadow {
		text-shadow: 0px 0px 24px #ffffff80;
	}

	.border-gradient {
		@apply border-[17px] border-solid;
		border-image-source: linear-gradient(
			141.87deg,
			#62cea6 -13.43%,
			#72f2c1 46.91%,
			#66d7ad 98.32%
		);
		border-image-slice: 1;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	.dark {
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

input[type='range'] {
	-webkit-appearance: none;
	height: 2px;
	background: #66d8ad; /* bg-gray-200 */
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease; /* Плавный переход */
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Для Firefox */

input[type='number'] {
	-moz-appearance: textfield;
}

input[type='range'] {
	-webkit-appearance: none;
	height: 2px;
	background: #66d8ad; /* bg-gray-200 */
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease; /* Плавный переход */
}

/* Стили для ползунка */
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 16px;
	height: 16px;
	background: white; /* Зеленый цвет */
	border: 3px solid #66d8ad;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s ease; /* Плавный переход */
}

input[type='range']::-moz-range-thumb {
	width: 16px;
	height: 16px;
	background: white; /* Зеленый цвет */
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s ease; /* Плавный переход */
}

#nprogress .bar {
	@apply bg-secondary_color !important;
}
