@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
     :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-shadow {
        text-shadow: 0px 0px 24px #FFFFFF80;
    }
    .border-gradient {
        @apply border-[17px] border-solid;
        border-image-source: linear-gradient(141.87deg, #62CEA6 -13.43%, #72F2C1 46.91%, #66D7AD 98.32%);
        border-image-slice: 1;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Для Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

